<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >

<suite name="TestSuitForVehicles" verbose="1" thread-count="3" parallel="true">

    <test name="TestVehicles1">
        <groups>
            <run>
                <include name="bus"/>
                <include name="homefuel"/>
            </run>
        </groups>
        <classes>
            <class name="BusTest"/>
            <class name="HomeFuelTest"/>
        </classes>
    </test>

    <test name="TestVehicles2">
        <groups>
            <run>
                <include name="motorcycle"/>
            </run>
        </groups>
        <classes>
            <class name="MotorcycleTest" />
        </classes>
    </test>
    <test name="APICarTest">
        <classes>
            <class name="car.api.tests.CarTest" />
        </classes>
    </test>
</suite>